(
    key_frames: [
        (
            time: 0.0,
            sprite_index: 16
        ),
        (
            time: 0.1,
            sprite_index: 17
        ),
        (
            time: 0.2,
            sprite_index: 18
        ),
        (
            time: 0.3,
            sprite_index: 19
        ),
        (
            time: 0.4,
            sprite_index: 16
        ),
    ]
)