(
    key_frames: [
        (
            time: 0.0,
            sprite_index: 28
        ),
        (
            time: 0.1,
            sprite_index: 29
        ),
        (
            time: 0.2,
            sprite_index: 30
        ),
        (
            time: 0.3,
            sprite_index: 31
        ),
        (
            time: 0.4,
            sprite_index: 28
        ),
    ]
)