(
    key_frames: [
        (
            time: 0.0,
            sprite_index: 8
        ),
        (
            time: 0.1,
            sprite_index: 9
        ),
        (
            time: 0.2,
            sprite_index: 10
        ),
        (
            time: 0.3,
            sprite_index: 11
        ),
        (
            time: 0.4,
            sprite_index: 8
        ),
    ]
)