(
    key_frames: [
        (
            time: 0.0,
            sprite_index: 20
        ),
        (
            time: 0.1,
            sprite_index: 21
        ),
        (
            time: 0.2,
            sprite_index: 22
        ),
        (
            time: 0.3,
            sprite_index: 23
        ),
        (
            time: 0.4,
            sprite_index: 20
        ),
    ]
)